button 
{
    background-color: #3498db; /* Set your preferred button color */
    color: #fff; /* Set your preferred text color */
    padding: 10px 20px;
    border: round;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
button a {
    text-decoration: none;
    color: inherit;
}
button:hover {
    background-color: #c3c012; /* Set your preferred hover color */
}
#numbers{
    font-size: 25px;
}